.container{
  width: 90vw;
  text-align: center;
  margin: 2rem auto;
}
.container1{
  min-height: 500px;
  background: #FEEDED;
  border-radius: 40px;
  margin: 4rem auto;
}

.container2{
  min-height: 500px;
  background: #F7FCF4;
  border-radius: 40px;
}