.container {
  width: 90vw;
  margin: 2rem auto;
}
.container1 {
  height: 500px;
  background: #feeded;
  border-radius: 40px;
  margin: 4rem auto;
}

.container2 {
  height: 500px;
  background: #f7fcf4;
  border-radius: 40px;
}
