.container {
  margin-top: -5%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.question {
  font-size: 3rem;
  font-weight: 700;
}

.answer {
  margin-top: -2%;
  font-size: 2.5rem;
  font-weight: 800;
  color: brown;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  padding: 60px;
  flex: 0 1 calc(25% - 1em);
  border: brown 2px solid;
  margin: 1rem 0.25em;
  box-shadow: 0 5px 9px rgba(202, 18, 18, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card:hover {
  box-shadow: 0 14px 28px rgba(90, 8, 8, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

@media screen and (min-width: 40em) {
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card {
    flex: 0 1 calc(50% - 1em);
  }
}
@media screen and (min-width: 60em) {
  .card {
    flex: 0 1 calc(25% - 1em);
  }
}
